{% extends 'base.html' %}

{% block title %}Esqueci Minha Senha{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow rounded-4">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Redefinir Senha</h4>
                    <form method="POST" action="{{ url_for('auth.esqueci_senha') }}">
                        <div class="mb-3">
                            <label for="email" class="form-label">Informe seu e-mail</label>
                            <input type="email" name="email" id="email" class="form-control"
                                placeholder="email@empresa.com.br" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary rounded-3">Enviar link</button>
                            <a href="{{ url_for('auth.login') }}" class="btn btn-outline-secondary rounded-3">Voltar ao
                                Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}