{% extends 'base.html' %}

{% block title %}Criar Nova Senha{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow rounded-4">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Nova Senha</h4>
                    <form method="POST" action="{{ url_for('auth.resetar_senha_token', token=token) }}">
                        <div class="mb-3">
                            <label for="senha" class="form-label">Nova Senha</label>
                            <input type="password" name="senha" id="senha" class="form-control" placeholder="Nova senha"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmar_senha" class="form-label">Confirme a Nova Senha</label>
                            <input type="password" name="confirmar_senha" id="confirmar_senha" class="form-control"
                                placeholder="Confirme a senha" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success rounded-3">Salvar nova senha</button>
                            <a href="{{ url_for('auth.login') }}" class="btn btn-outline-secondary rounded-3">Voltar ao
                                Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}